* {
  /* xóa mặc định của trình duyệt */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bother {
  margin-left: 100px;
  margin-right: 100px;
}
/* .container {
  padding-top: 40px;
  padding-left: 150px;
} */
/* .header {
  padding-top: 30px;
  padding-left: 150px;
} */
.header {
  padding: 20px;
  padding-left: 60px;
}
.header .pen {
  width: 37px;
  height: 35px;
  padding-top: 10px;
  border-radius: 30px;
  background-color: #002146;
  font-size: 15px;
  text-align: center;
  color: goldenrod;
  float: left;
}
.pen {
  margin-left: 35px;
}
.header .pen h1 {
  display: inline;
  color: #002146;
}
.pen_1 {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.nav li {
  display: inline;
  margin-left: 30px;
}
.nav a {
  text-decoration: none;
  font-size: 20px;
}
.carousel {
  background-image: url(./images/2.jpg);
  font-size: 50%;
  width: 100%;
  height: 600px;
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
}
.activities {
  padding: 30px;
  padding-left: 65px;
  padding-right: 40px;
}
.activities_left,
.activities_right {
  float: left;
  background-position: initial;
  background-size: cover;
}
.activities .clear {
  clear: both;
}
.activities_right img {
  width: 470px;
  height: 280px;
  background-position: initial;
  background-size: cover;
  border-radius: 5px;
}

.activities_left {
  padding-left: 50px;
  padding-right: 100px;
  width: 50%;
  height: 300px;
}
.activities_left h1 {
  margin-bottom: 10px;
}
.activities_left button {
  background-color: gold;
  border-radius: 16px;
  border: none;
  font-size: 15px;
  width: 90px;
  height: 30px;
}
.info {
  padding: 15px;
  padding-left: 115px;
  padding-right: 70px;
  background-color: #f6f6f6;
}
.info_item {
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 0px;
  margin-right: 0px;
}
.info_item {
  float: left;
  width: 25%;
}

.info_item h1 {
  float: left;
  width: 20%;
  font-size: 50px;
}

.info_item p {
  float: left;
  width: 80%;
  padding-top: 10px;
}
.icon_item {
  float: left;
  width: 25%;
}
.icon {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 90px;
}
.icon_item {
  margin-top: 30px;
  width: 250px;
  height: 100px;
  padding-top: 20px;
  border-radius: 4px;
  background-color: #002146;
  font-size: 40px;
  text-align: center;
  color: white;
  margin-right: 15px;
  margin-left: 30px;
}
.icon_item p {
  padding-top: 15px;
  font-size: 10px;
}

.mother {
  padding-left: 100px;
  padding-right: 180px;
  width: 100%;
  padding-top: 40px;
  background-color: #f6f6f6;
}
.son h1 {
  padding-bottom: 20px;
  padding-top: 30px;
}
.son .view_all {
  padding-top: 20px;
  padding-left: 407px;
}
.son button {
  background: gold;
  width: 95px;
  height: 35px;
  font-size: 12px;
  border-radius: 4px;
}
.daughter h1 {
  padding-bottom: 20px;
  padding-top: 30px;
}
.daughter .view_all {
  padding-top: 20px;
  padding-left: 407px;
}
.daughter button {
  background: gold;
  width: 95px;
  height: 35px;
  font-size: 12px;
  border-radius: 4px;
}
/* .daughter A {
  padding-top: 100px;
  padding-right: 100px;
} */
.son {
  width: 50%;

  padding-left: 20px;
  padding-right: 30px;
  background-color: white;
}

.son_1 {
  width: 100%;
  height: 115px;
  margin-top: 20px;
}
.son_1 img {
  border-radius: 5px;
  width: 145px;
  height: 105px;
}

.son_left,
.son_right {
  width: 70%;
  float: left;
}
.son_left {
  width: 30%;
  float: left;
}
.son_right p {
  padding-top: 10px;
}

.son,
.daughter {
  background: white;
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  /* background-color:  */
}
.daughter_1 {
  width: 100%;
  height: 165px;
  margin-top: 20px;
}
.daughter_1 h3 {
  background: gold;

  width: 90px;
  height: 80px;
  border-radius: 3px;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}
.daughter_1 p {
  font-size: 15px;
}
.daughter_1 h4 {
  width: 90px;
  height: 30px;
  color: white;
  font-size: 15px;
  background: #002146;
  text-align: center;
  padding-top: 5px;
  border-radius: 3px;
}
.daughter_left,
.daughter_right {
  float: left;
  width: 80%;
  padding-right: 50px;
}
.daughter_left {
  float: left;
  width: 20%;
}
.daughter_right h2 {
  font-size: 20px;
  padding-bottom: 15px;
}
.daughter_left p {
}

.footer {
  background-color: #002146;
  width: 100%;
  color: #fafaf7;
  overflow: auto;
}
.footer_top {
  padding-top: 35px;
  overflow: auto;
  padding-bottom: 35px;
  border-bottom: 0.5px solid #1e3045;
  padding-left: 100px;
}
.footer_item {
  float: left;
  width: 33.33%;
  padding-right: 150px;
}
.footer_item h3 {
  font-size: 20px;
  padding: 25px 0;
}
.footer_menu {
  list-style-type: none;
}
.footer_menu li {
  padding: 7px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
.footer_menu li i {
  color: #e9be09;
  font-size: 12px;
  padding-right: 10px;
}
.footer_copyright {
  padding: 35px 0 50px;
  font-size: 15px;
  font-weight: 400;
}
.footer_copyright span {
  opacity: 0.7;
}
